<!doctype html>
<html>
<head>
<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<title>CAT BLOG</title>
</head>

<body>
    <div class=container>
{% extends 'blog/base.html' %}
{% block content %}

<br>
    <h1> 샴 고양이</h1><br>
    <div class="card">
      <div class="card-body">
        <h4>
          시암고양이라고 부르기도 하며, 고양이계의 여왕으로 불린다. 타이어로 ‘Wichien-maat‘라고도 부르며 달(moon)의 다이아몬드라는 의미가 있다. 샴(Siam) 지방 원산으로, 샴은 타이 왕국의 옛 명칭이다.<br>
          1700년경 이전에 자연적으로 발생한 것으로 보고 있다. 1878년 타이에 주재하던 영국 영사가 왕의 선물로 받은 고양이 한 쌍을 1884년 영국으로 가져오며 알려져 세계적으로 관심을 끌기 시작하였다. <br>
          1885년 런던에서 개최된 고양이전시회를 통해 널리 알려졌다. 호리호리하고 날씬한 몸매에, 털은 짧고 가늘다. 머리는 삼각형이고 목은 비교적 길다. 귀도 삼각형으로 크며, 위를 향해 쫑긋 세워져 있다.<br>
          뒷다리가 앞다리보다 다소 길고, 꼬리는 길되 끝은 가늘다. 몸 빛깔은 회백색 또는 엷은 황갈색이며 귀·꼬리·주둥이·앞뒷다리 등의 말단부는 갈색, 붉은색 등의 짙은 색을 띤다. 눈은 모두 아름다운 사파이어색이며,<br>
          주위 환경이나 온도에 따라 색깔에 약간의 변화가 생기기도 한다. 보통 살찐 고양이는 연한 빛을, 마른 고양이는 진한 빛을 띤다. 새끼가 태어난 직후에는 몸 전체가 흰색에 가까운 옅은 색을 띠나 한 살이 지나면서 말단부의 색이 점점 짙어진다.<br> 
          성격이 독특하면서도 영리하고 애정이 깊다. 감수성도 예민해 공격적이거나 신경질적인 반응을 보이기도 하고, 자기 과시욕을 드러내면서 언제나 주인의 관심을 끌려고 하기 때문에 안아주거나 쓰다듬어 주는 것을 좋아한다.<br>
          지나치게 움직이는 것을 좋아해 성가신 점이 있고, 수컷은 발정기가 되면 낮고 큰 소리로 시끄럽게 울어 대는 단점이 있다. 애완용 고양이 가운데 가장 대중적인 고양이로 꼽힌다.<br>
      [네이버 지식백과] 샴고양이 [Siamese cat] (두산백과)</h4>
      </div>
    </div>

{% endblock%}    
</div>
</body>
</html>
